

#header {
    color:black;
    
}

#mainPara {
    font-family:Comic Sans MS

}


.para{
    color:pink;
    font-size: 20px;
}


#title{
    text-align: center;
    background-color: rgb(230, 230, 230);
    width:500px;
    padding:10px;
    background-position: top center;
    margin:auto;
    border-radius:10px;
    font-family:Comic Sans MS
}

#center_box{
   
    background-color: rgb(165, 165, 165);
    width:100px;
    padding:10px;
    background-position: center ;
    margin:auto;
    border-radius:10px;
    font-family:Comic Sans MS

}

#left_box{
   
    background-color: rgb(165, 165, 165);
    width:100px;
    padding:10px;
    background-position: left ;
    margin:auto;
    border-radius:10px;
    font-family:Comic Sans MS

}

#right_box{
   
    background-color: rgb(165, 165, 165);
    width:100px;
    /* padding:10px; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    font-family:Comic Sans MS

}


#div1{
    background-color: blueviolet;
}

img{
    width: 500px;
}

html{
    background-color: rgb(69, 69, 145);
}

#fontchange{
    background-image:url("Assets/boris.jpg");
    background-position:center;
    size: 100%;
    width: 50%;
    height:500px;
    display: block;
    margin: auto;
    box-shadow: 0 0 100px greenyellow;



}

#new-font{
    font-family: Comic Sans MS;

}

.newfont {
    font-family: Arial;
    text-align: center;
    
    font-size: 5em;
}
